/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 8:13:08 PM
    Author     : Brusman
*/


.various1 > div > input {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    height: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}
.various1 > div > strong {
    border-image: none;
    border-radius: 0 3px 3px 0;
    border-style: solid solid solid none;
    border-width: 1px;
    display: inline-block;
    margin-left: -1em;
    padding-left: 14px;
    vertical-align: middle;
    width: calc(100% - 1em - 3px);
}
.various1 > div {
    margin-bottom: 5px;
}
