{% extends "base.twig" %}

{#{% do page.add_script('wysihtml5', 'lib/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js', {require : ['jquery', 'bootstrap']} ) %}#}
{% do page.add_script('summernote', 'summernote/summernote.min.js', {require: ['bootstrap']}) %}
{% do page.add_script('messenger', 'lib/messenger/build/js/messenger.js' ) %}
{% do page.add_script('messenger_theme', 'lib/messenger/build/js/messenger-theme-flat.js' ) %}
{% do page.add_script('ui-notifications', 'lightblue/ui-notifications.js', {require: ['messenger','messenger_theme', 'app']} ) %}
{#{% do page.add_script('bootstrap-select', 'lib/bootstrap-select/dist/js/bootstrap-select.min.js', {require: ['bootstrap'} ) %}#}
{#{% do page.add_script('select2', 'lib/select2/select2.min.js', {require: ['bootstrap-select'} ) %}#}
{% do page.add_script('adminjs', 'admin/admin.js', {require : ['rpgtjs', 'underscore', 'autocomplete', 'summernote']} ) %}

{% do page.add_style('summernote.css') %}

{% do page.add_style('autocomplete.css') %}

{% block sidebar %}
    {% include 'layouts.sidebar' with { 'active' : 'narratives' } %}
{% endblock %}
{% block app_content %}
    
    <script type="text/javascript">
    $(document).ready(function(){
        rpgt.createGlobalResources();
        rpgt.fetchResources([rpgt.Narratives, rpgt.Classes, rpgt.Races, rpgt.Features], {
            success: function () {
                var activeModel, context, relationContainers;
                rpgt.NarrativeView = new rpgt.views.NarrativeView({
                    el: $('#narratives_view'), 
                    collection: rpgt.Narratives
                });
                
                context = rpgt.NarrativeView;
                activeModel = rpgt.NarrativeView.getActiveModel('narrative');
                
                rpgt.NarrativeClassRelations = new rpgt.views.NarrativeClassRelations({
                    el: $('#narrativeclasses'),
                    foreignCollection: rpgt.Classes,
                    activeModel: activeModel
                });  
                
                rpgt.NarrativeRaceRelations = new rpgt.views.NarrativeRaceRelations({
                    el: $('#narrativeraces'),
                    foreignCollection: rpgt.Races,
                    activeModel: activeModel
                });  
                rpgt.NarrativeFeatureRelations = new rpgt.views.NarrativeFeaturesRelations({
                    el: $('#narrativefeatures'),
                    foreignCollection: rpgt.Features,
                    activeModel: activeModel
                });  
                
                relationContainers = [rpgt.NarrativeClassRelations, rpgt.NarrativeRaceRelations, rpgt.NarrativeFeatureRelations];
                //bind events
                rpgt.NarrativeView.on('model:narrative:update', function(newModel) {
                    _.each(relationContainers, function(container) {
                        container.setModel(newModel);
                    });
                });
                rpgt.NarrativeView.on('html:read', function() {
                    _.each(relationContainers, function(container) {
                        container.readHtml();
                    });
                });
                
                rpgt.NarrativeView.render();
            }
        });
    });
    </script>
    
    <h2 class="page-title">Narratives</h2>
    <div class="row">
        <div class="col-lg-8">
            <section id="narratives_view" class="widget form-horizontal">
                <div class="row">
                    <label class="col-sm-3 control-label" for="title">Select Narrative: </label>
                    <div class="col-sm-9">
                        <input class="form-control input-transparent" data-auto_entries="new,narrative" id="narrative_select" type="text" value="New" />
                        <input name="narrative_id" value="" type="hidden" />
                    </div>
                </div>
                <hr />
                <header>
                    <h4><i class="fa fa-file-alt"></i> Narratives <small>Create new or edit existing narrative</small></h4>
                </header>
                <div class="body">
                    <form class="form-horizontal admin-form" role="form" method="post">
                        <fieldset>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="name">Name <span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" name="narrative_name" class="form-control input-transparent"
                                           required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="content">
                                    description
                                </label>
                                <div class="col-sm-9">
                                    <textarea rows="10" name="narrative_description" class="form-control input-transparent wysiwyg" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-sm-3 control-label">description (short)</label>
                                <div class="col-sm-9">
                                    <textarea name="narrative_description_short" rows="3" name="text" class="form-control input-transparent"></textarea>
                                    <span class="help-block">Optional summary of your article that can be used in previews</span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="oddity">Oddity<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" name="narrative_oddity" class="form-control input-transparent"
                                           required="required" data-default="0">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="type">Type<span class="required">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" name="narrative_type" class="form-control input-transparent"
                                           required="required" value="" data-default="CORE">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <div class="btn-toolbar">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <button type="button" class="btn btn-default cancle">Cancel</button>
                                        <button type="button" class="btn btn-danger delete">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <section id="narrativefeatures" class="widget">
                <header>
                    <h4><i class="fa fa-cog"></i>Granted Features</h4>
                </header>
                <div class="body">
                    <form class="form-horizontal admin-form" role="form" method="post">
                    <div class="granted-features">
                    </div>
                    <button class="btn btn-success add">+</button>
                    </form>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section id="narrativeclasses" class="widget">
                <header>
                    <h4><i class="fa fa-cog"></i>Available Classes</h4>
                </header>
                <div class="body">
                    <div class="available-classes">
                    </div>
                    <button class="btn btn-success add">+</button>
                </div>
            </section>
            <section id="narrativeraces" class="widget">
                <header>
                    <h4><i class="fa fa-cog"></i>Available Races</h4>
                </header>
                <div class="body">
                    <div class="available-races">
                    </div>
                    <button class="btn btn-success add">+</button>
                </div>
            </section>
        </div>
    </div>
    
    <script type="text/template" id="narrativefeature_template" >
        <fieldset>
            <legend class="section"></legend>
            <input type="hidden" name="feature_id" value="<%= id %>" />
            <div class="form-group">
                <label class="col-sm-3 control-label"><i>Feature name</i><span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="feature_name" class="form-control input-transparent"
                           required="required" data-default="0" value="<%= name %>" >
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" >Level<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="level" value="<%= pivot.level %>" class="form-control input-transparent"
                           required="required" data-default="0">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">Description<span class="required">*</span></label>
                <div class="col-sm-9">
                    <textarea rows="10" name="feature_description" class="form-control input-transparent wysiwyg" ><%= description %></textarea>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Featureables Type</label>
                <div class="col-sm-9">
                    <input type="text" name="type" class="form-control input-transparent"
                           data-auto_entries="types" value="<%= type %>" >
                </div>
            </div>
        </fieldset>
        <div class="featureables">
            <button class="btn btn-success add">+ Featureable</button>
        </div>
        <fieldset>
            <div class="form-group text-right">
                <div class="col-sm-12 ">
                    <button class="btn btn-danger delete" type="button">Delete</button>
                </div>
            </div>
        </fieldset>
    </script>
    <script id="proficiencyfeatureable_template" type="text/template" >
        
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name">Proficiency</label>
                <div class="col-sm-9">
                <input type="hidden" name="proficiency_id" value="<%= id %>" />
                <input type="text" name="proficiency_name" class="form-control input-transparent"
                       data-auto_entries="proficiency" value="<%= name %>" >
            </div>
    </script>
    <script id="spellcastingfeatureable_template" type="text/template" >
    </script>
    <script id="actionfeatureable_template" type="text/template" >
    </script>
    <script id="stat_modifiersfeatureable_template" type="text/template" >
    </script>
    
    
    <script type="text/template" id="narrativeclass_template" >
        <fieldset>
            <legend class="section"></legend>
            <input type="hidden" name="id" value="<%= id %>" />
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name"><i>class</i><span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="class_name" class="form-control input-transparent"
                           data-auto_entries="class" required="required" data-default="0" value="<%= name %>" >
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="oddity">Oddity<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="oddity" value="<%= pivot.oddity %>" class="form-control input-transparent"
                           required="required" data-default="0">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group text-right">
                <div class="col-sm-12 ">
                    <button class="btn btn-danger delete" type="button">Delete</button>
                </div>
            </div>
        </fieldset>
    </script>
    
    <script type="text/template" id="narrativerace_template" >
        <fieldset>
            <legend class="section"></legend>
            <input type="hidden" name="id" value="<%= id %>" />
            <div class="form-group">
                <label class="col-sm-3 control-label" for="name"><i>class</i><span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="race_name" class="form-control input-transparent"
                           data-auto_entries="race" required="required" data-default="0" value="<%= name %>" >
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="oddity">Oddity<span class="required">*</span></label>
                <div class="col-sm-9">
                    <input type="text" name="oddity" value="<%= pivot.oddity %>" class="form-control input-transparent"
                           required="required" data-default="0">
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group text-right">
                <div class="col-sm-12 ">
                    <button class="btn btn-danger delete" type="button">Delete</button>
                </div>
            </div>
        </fieldset>
    </script>
    
{% endblock %}