/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2016, 11:48:20 PM
    Author     : Brusman
*/

@font-face {
    font-family: "Pictos Three";
    src: url(./pictos_three.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.item_armor::after {
    color: #fff;
    content: "b";
    font-family: "Pictos Three";
    font-size: 88px;
    left: 50%;
    line-height: 0.7;
    position: absolute;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}

.item_armor {
    margin-bottom: 10px;
    padding: 6px calc(50% - 24px) 9px;
    text-align: center;
}

.item_armor label {
    margin: 0;
    text-transform: capitalize;
    
}
.item_armor > input {
    background-color: transparent;
    border: medium none;
    text-align: center;
    width: 100%;
}