{% block header_loader %}
	 {{ page.add_script('hitpoints', 'sheet/hitpoints.js', {require : "rpgtjs"}) }}
	 {{ page.add_style('sheet/hitpoints.css') }}
{% endblock %}


{% block view_template %}
<script type="text/html" id="hitpoints_template">
    <strong>Hit points</strong>
    <div class="item_hp">
        <input id="hp_current" value="<%= hp_current %>"> / <input id="hp_max" value="<%= hp_max %>">
    </div>
    <div class="item_temphp">
        <label for="hp_temp">Temp</label>
        <input id="hp_temp" value="<%= hp_temp %>">
    </div>
</script>
{% endblock %}