{% extends "sheet/sheet_content.twig" %}

{% block header_loader %}
    {{ page.add_script('sheetheader', 'sheet/sheetheader.js', {require : "rpgtjs"}) }}
    {{ page.add_style('sheet/sheetheader.css') }}
{% endblock %}
{% block view_template %}
    
    <script id="sheetheader_item" type="text/html">
        <div class="header_item item_<%= name %>">
            <input <%= attributes %>type="text" id="<%= name %>" value="<%= value %>" /><label for="<%= name %>"><%= label %></label>
        </div>
    </script>
    <script id="sheetheader_template" type="text/html">
    </script>
    
{% endblock %}