{% block header_loader %}
	 page.add_script('spellslots', 'sheet/spellslots.js', {require : "rpgtjs"}) 
	 page.add_style('sheet/spellslots.css') 
{% endblock %}

{% block view_template %}
<script id="spellslot_template" type="text/html">
    <div class="spell_slots_<%= level %>">
        <label for="level_<%= level %>_uses"><%= level_nth %></label>
        <input id="level_<%= level %>_uses" name="level_<%= level %>_uses" value="<%= current %>"/> /
        <input id="level_<%= level %>_uses_max" name="level_<%= level %>_uses_max" value="<%= max %>"/>
    </div>
</script>
{% endblock %}